body{
  background-color:#f5f8fa;
}


.piedepagina{
  background: #00a59c;
  padding: 20px 0;
}

.piedepagina .contenedor{
  display:table;
}


.piedepagina small{
  display:table-cell;
  color: #fff;
}

.piedepagina nav{
  display:table-cell; 
  text-align: right;
}
.piedepagina nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.piedepagina nav ul li{
  display: inline-block;
  padding-left: 10px;
}

.piedepagina nav ul li a{
  color: #fff;
  text-decoration: none;
}

.piedepagina nav ul li a:hover{
  text-decoration:underline;
}

